body {
    color: #999;
}
h1{
    color: red;
    text-decoration: double;
}
.cell {
    width: 140px;
    height: 140px;
    border: 2px solid red;
    border-radius: 30px;
    background-color: aquamarine;
}